<div>
    <h2>Home</h2>
    <hr>
    <div class="alert alert-info" role="alert" ng-repeat="alert in $ctrl.alerts">
        <strong>Heads up!</strong> {{alert.text}}
    </div>
    <button ng-click="$ctrl.removeAlerts()">Remove alerts</button>
    <hr>
    <form>
        <input type="text" value="" ng-model="$ctrl.data.todo"/>
        <button ng-click="$ctrl.addTodo()">Add todo</button>
        <button ng-click="$ctrl.addAsyncTodo()">Add todo (async)</button>
        <button ng-click="$ctrl.removeTodos()">Remove all todos</button>
    </form>
    <hr>
    <div class="card" ng-repeat="todo in $ctrl.todos">
        <div class="card-block">
           {{ todo.text }}
        </div>
    </div>
    <div style="padding: 20px">
        <todos-state-less todos="$ctrl.todos"></todos-state-less>
    </div>
</div>